.question-page {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.question-page .question-card {
    width: 400px;
    margin: 0;
   
}

.select-option {
    margin-bottom: 50px;
    border: 1px solid black;
    padding: 8px 18px;
    border-radius: 5px;
}

.question-options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.question-votes {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.question-vote {
    font-weight: 600;
}

.option-sect {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px solid grey;
    width: 90%;
    margin-bottom: 20px;
    padding: 5px;
}

.option-text {
    margin: 5px 0;
    text-transform: capitalize;
}



